html{
    
}

body{
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}


header{
    box-shadow: 0px 4px 10px rgba(191, 191, 191, 0.25);
}


footer{
    margin-top: auto;
}

.dropdown-menu {
    left: -100%;
}

.btn-main{
    color: #ffffff!important;
    background-color: #2D3DA8;
}


.btn-outline-main{
    border: 1px solid  #2D3DA8;
    color:  #2D3DA8;
}

input::placeholder{
    font-size: 12px;
}

/* Google Auth */
#google-auth form input{
    height: 3rem;
    text-align: center;
}

/* Register Global */
.stepbar{
    position: relative;
}

.stepbar .col-auto.active{
    color: #AA315E;

}

.stepbar .fa-circle{
    border: 0.5rem solid white;
}

.stepbar::before{
    content: "";
    position: absolute;
    width: 84%;
    top: 72%;
    height: 2px;
    left:   15px;
    right: 15px;
    background-color: black;
    z-index: 0;
    margin: 0 auto;
}

/* Register-1 */
#register-1 .username-check{
    background-color: #2196F3;
    opacity: 0.5;
    color: white;
    height: 1.5rem;
    width: 1.5rem;
    box-sizing: content-box;
}

/* Register-3 */
.custom-file-label::after {
   border-radius: 5px;
   border: 1px solid #2D3DA8;
   color: #AA315E;
   background-color: transparent ;
}
.pointer{
  cursor: pointer;
}

@media (max-width: 756px){
    header .navbar .dropdown{
        margin-left: 0!important;
    }
}