body{
    min-height: 100vh;
    font-family: 'Overpass', sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "sidebar  topbar "
    "sidebar  main";
    background-color: #F7F7F7;
    transition: 1s;
}


.btn-main{
    color: #ffffff!important;
    background-color: #2D3DA8;
}

.btn-main:hover{
    opacity: 0.7;
    transition: 0.5s;
}

.btn-outline-main{
    border-color: #2D3DA8;
    border: 2px;
}

.badge-wood{
    background-color: #DCA570;
}

.border-main{
    border-color: #2D3DA8;
}

.text-main{
    color: #2D3DA8;
}

nav#topbar{
    grid-area: topbar;
    background-color: white;
}
.dropdown-menu {
    left: -200%;
}

main{
    grid-area: main;
    

}

main section.stats{
    background-color: rgba(213, 218, 255, 0.4);
}



/* Account Details */
.nav-page a{
    color: #C4C4C4;
    font-weight: 700;
}
.nav-page a.active{
    font-size: 20px;
    color: #AA315E;
}

/* Nomination */
.custom-file-label::after {
   border-radius: 5px;
   border: 1px solid #2D3DA8;
   color: #AA315E;
   background-color: transparent ;
}

/* Documents */
#documents table td{
    vertical-align: middle;
}

/* Top Up */

#top-up input[data-toggle=datepicker]::placeholder{
    color: #2D3DA8;
}


 @media (max-width: 575.98px) { 
    .table-responsive-md{
        max-width:  250px!important;
    }
  }


  /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

/* Sidebar */

#sidebar {
    grid-area: sidebar;
  min-width: 270px;
  max-width: 270px;
  background: #2D3DA8;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center; }
    #sidebar.active ul.components li {
      font-size: 14px; }
      #sidebar.active ul.components li a {
        padding: 10px 0; }
        #sidebar.active ul.components li a span {
          margin-right: 0;
          display: block;
          font-size: 24px; }
    #sidebar.active .logo {
      padding: 10px 0; }
    #sidebar.active .footer {
      display: none; }
  #sidebar .logo {
    display: block;
    color: #fff;
    font-weight: 900;
    padding: 10px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .logo {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
  #sidebar ul.components {
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar ul.components {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
  #sidebar ul li {
    font-size: 16px; }
    #sidebar ul li > ul {
      margin-left: 10px; }
      #sidebar ul li > ul li {
        font-size: 14px; }
    #sidebar ul li a {
      padding: 10px 30px;
      display: block;
      color: white;
       }
      #sidebar ul li a span {
        margin-right: 15px; 
    }
        #sidebar ul li i {
              width: 30px;            
              height: 30px;            
     }
        #sidebar ul li.active i {
            padding: 0.3rem;
             width: 50px;            
              height: 50px;  
            border-radius: 50%;
            background-color: #AA315E;
     }
        @media (max-width: 991.98px) {
          #sidebar ul li a span {
            display: block; } }
      #sidebar ul li a:hover {
        color: #fff; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #fff; }
  @media (max-width: 991.98px) {
    #sidebar {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important; }
      #sidebar.active {
        margin-left: 0 !important; } }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; } }



#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
